.button{
    width: 245px;
    height: 45px;
    border: none;
    color: white;
    background-color: #72DEA3;
}

.button:focus{
    outline: none;
    background-color: #5CB584;
}

.button:hover{
    transition: background-color .5s linear 0s;
    cursor: pointer;
    background-color: #8BEEB8;
}