.root {
    background-color: white;
    color: #333333;
    width: 100%;
    min-width: 320px;
    max-width: 1110px;
    height: 100%;
    min-height: 100vh;
    margin: 0 auto;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    text-rendering: optimizeLegibility;
}