.button_theme_exit{
    background-color: #EC626A;
    width: 112px;
}

.button_theme_exit:hover{
    opacity: 0.7;
    background-color: #EC626A;
}

.button_theme_exit:focus{
    background-color: #EC626A;
}