.card_type_result{
    min-height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: default;
    border: none;
    color: #72DEA3;
}