.table_theme_quotes{
    grid-template-columns: repeat(3, 350px);
    grid-template-rows: repeat(auto-fit, 200px);
    row-gap: 64px;
    column-gap: 30px;
    max-width: 1110px;
    min-height: 464px;
}