.header__button{
    color: white;
    background-color: #EC626A;
    font-size: 14px;
    font-weight: bold;
    border: none;
    height: 42px;
    width: 160px;
    padding: 0;
}

.header__button:focus{
    outline: none;
    cursor: pointer;
}