.button_theme_header{
    background-color: #EC626A;
    font-size: 14px;
    font-weight: bold;
    height: 42px;
    width: 160px;
    padding: 0;
}

.button_theme_header:hover{
    opacity: 0.7;
    background-color: #EC626A;
}

.button_theme_header:focus{
    background-color: #EC626A;
}